{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"></head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<h1>Create A Ghost Post</h1>
<h3><a href="{% url 'homepage' %}">Homepage</a></h3>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }} 
    <input type="submit" value="Sumbit GhostPost" onsubmit="">
</form>